@using CBCanteen.Client.ComponentLibrary.Components
@using CBCanteen.Client.Services.Contracts;
@using CBCanteen.Shared.Models.User;

@inject IUserPreferenceService UserPreferenceService
@inject ILunchHourService LunchHourService
@inject NavigationManager Navigator

<div class="mx-24 mt-6 justify-start flex flex-col space-y-4">
    <div>
        <h1 class="text text-2xl">Здрасти</h1>
        <h3 class="text-2xl text">Изглежда си тука за първи път, нека да направим няколко настройки:</h3>
    </div>
    <div>
        <Checkbox IsChecked="@showMeetingInCalendar"
                  OnButtonChange="@UpdateShowMeetingInCalendar"
                  Text="Показване на срещи в календара"
                  TooltipText="Ако тази опция е изключена, във вашия календар няма да се показват вашите срещи. " />
        <Checkbox IsChecked="@sendEmailOnNewLunch"
                  OnButtonChange="@UpdateSendEmailOnNewLunch"
                  Text="Изпращане на имейл при нов обяд"
                  TooltipText="Ако тази опция е включена, ще получите имейл, когато може да запазите обяд." />
        <Checkbox IsChecked="@createReminderOnLunchReservation"
                  OnButtonChange="@UpdateCreateReminderOnLunchReservation"
                  Text="Създаване на напомняне при резервиране на обяд"
                  TooltipText="Ако тази опция е включена, когато запазите обяд, автоматично ще се създаде напомняне." />
    </div>
    <div>
        <h1 class="text text-[#474747] text-2xl font-medium mt-2">Кога е вашият обяд?</h1>

        <Checkbox OnButtonChange="newState => UpdateHasLunchOnSameTimeButtonState(newState)"
                  IsChecked="hasLunchOnSameTime"
                  StyleClass="mt-4"
                  Text="Имам едно и също време за обяд всеки ден"></Checkbox>

        @if (hasLunchOnSameTime)
        {
            <div class="flex mt-6 flex-row space-x-4">
                <InputTime Text="Начало"
                           BindingValue=@mondayStartTime
                           BindingValueChanged=@UpdateMondayStartTime />
                <InputTime Text="Край"
                           BindingValue=@mondayEndTime
                           BindingValueChanged=@UpdateMondayEndTime />
            </div>
        }
        else
        {
            <div class="grid grid-cols-3 gap-4 mt-6 w-fit">
                <div class="flex items-center justify-center justify-self-start">
                    <p class="text text-xl text-[#94A3B8]">Понеделник</p>
                </div>
                <InputTime Text="Начало"
                           BindingValue=@mondayStartTime
                           BindingValueChanged=@UpdateMondayStartTime />
                <InputTime Text="Край"
                           BindingValue=@mondayEndTime
                           BindingValueChanged=@UpdateMondayEndTime />
                <div class="flex items-center justify-center justify-self-start">
                    <p class="text text-xl text-[#94A3B8]">Вторник</p>
                </div>
                <InputTime Text="Начало"
                           BindingValue=@tuesdayStartTime
                           BindingValueChanged=@UpdateTuesdayStartTime />
                <InputTime Text="Край"
                           BindingValue=@tuesdayEndTime
                           BindingValueChanged=@UpdateTuesdayEndTime />
                <div class="flex items-center justify-center justify-self-start">
                    <p class="text text-xl text-[#94A3B8]">Сряда</p>
                </div>
                <InputTime Text="Начало"
                           BindingValue=@wednesdayStartTime
                           BindingValueChanged=@UpdateWednesdayStartTime />
                <InputTime Text="Край"
                           BindingValue=@wednesdayEndTime
                           BindingValueChanged=@UpdateWednesdayEndTime />
                <div class="flex items-center justify-center justify-self-start">
                    <p class="text text-xl text-[#94A3B8]">Четвъртък</p>
                </div>
                <InputTime Text="Начало"
                           BindingValue=@thursdayStartTime
                           BindingValueChanged=@UpdateThursdayStartTime />
                <InputTime Text="Край"
                           BindingValue=@thursdayEndTime
                           BindingValueChanged=@UpdateThursdayEndTime />
                <div class="flex items-center justify-center justify-self-start">
                    <p class="text text-xl text-[#94A3B8]">Петък</p>
                </div>
                <InputTime Text="Начало"
                           BindingValue=@fridayStartTime
                           BindingValueChanged=@UpdateFridayStartTime />
                <InputTime Text="Край"
                           BindingValue=@fridayEndTime
                           BindingValueChanged=@UpdateFridayEndTime />
            </div>
        }
        <GreenButton Text="Запази" StyleClass="mr-2 flex items-center justify-center py-1 px-4 mt-6" OnClickCallback="@(async _ => await SubmitInfo())" />
    </div>
</div>

@code {
    private bool hasLunchOnSameTime = true;

    private bool showMeetingInCalendar = true;
    private bool sendEmailOnNewLunch = true;
    private bool createReminderOnLunchReservation = true;

    private TimeOnly mondayStartTime;
    private TimeOnly mondayEndTime;

    private TimeOnly tuesdayStartTime;
    private TimeOnly tuesdayEndTime;

    private TimeOnly wednesdayStartTime;
    private TimeOnly wednesdayEndTime;

    private TimeOnly thursdayStartTime;
    private TimeOnly thursdayEndTime;

    private TimeOnly fridayStartTime;
    private TimeOnly fridayEndTime;

    /// <summary>
    /// Updates the state of the button.
    /// </summary>
    /// <param name="newState">New state</param>
    private void UpdateHasLunchOnSameTimeButtonState(bool newState)
    {
        hasLunchOnSameTime = newState;
    }

    private void UpdateShowMeetingInCalendar(bool newState)
    {
        showMeetingInCalendar = newState;
    }

    private void UpdateSendEmailOnNewLunch(bool newState)
    {
        sendEmailOnNewLunch = newState;
    }

    private void UpdateCreateReminderOnLunchReservation(bool newState)
    {
        createReminderOnLunchReservation = newState;
    }

    private void UpdateMondayStartTime(TimeOnly newTime)
    {
        mondayStartTime = newTime;
    }

    private void UpdateMondayEndTime(TimeOnly newTime)
    {
        mondayEndTime = newTime;
    }

    private void UpdateTuesdayStartTime(TimeOnly newTime)
    {
        tuesdayStartTime = newTime;
    }

    private void UpdateTuesdayEndTime(TimeOnly newTime)
    {
        tuesdayEndTime = newTime;
    }

    private void UpdateWednesdayStartTime(TimeOnly newTime)
    {
        wednesdayStartTime = newTime;
    }

    private void UpdateWednesdayEndTime(TimeOnly newTime)
    {
        wednesdayEndTime = newTime;
    }

    private void UpdateThursdayStartTime(TimeOnly newTime)
    {
        thursdayStartTime = newTime;
    }

    private void UpdateThursdayEndTime(TimeOnly newTime)
    {
        thursdayEndTime = newTime;
    }

    private void UpdateFridayStartTime(TimeOnly newTime)
    {
        fridayStartTime = newTime;
    }

    private void UpdateFridayEndTime(TimeOnly newTime)
    {
        fridayEndTime = newTime;
    }

    protected override async Task OnInitializedAsync()
    {
        if (await this.UserPreferenceService.GetUserPreferenceAsync() is not null &&
            await this.LunchHourService.GetUserLunchHours() is not null)
        {
            this.Navigator.NavigateTo("/");
        }
    }

    private async Task SubmitInfo()
    {
        var userPreference = new UserPreferenceIM
        {
            ShowMeetings = showMeetingInCalendar,
            SendEmail = sendEmailOnNewLunch,
            CreateReminder = createReminderOnLunchReservation
        };


        var userLunchTime = new UserLunchHoursIM
        {
            HasSameLunchHours = hasLunchOnSameTime,
            MondayLunchTimeStart = mondayStartTime,
            MondayLunchTimeEnd = mondayEndTime,
            TuesdayLunchTimeStart = tuesdayStartTime,
            TuesdayLunchTimeEnd = tuesdayEndTime,
            WednesdayLunchTimeStart = wednesdayStartTime,
            WednesdayLunchTimeEnd = wednesdayEndTime,
            ThursdayLunchTimeStart = thursdayStartTime,
            ThursdayLunchTimeEnd = thursdayEndTime,
            FridayLunchTimeStart = fridayStartTime,
            FridayLunchTimeEnd = fridayEndTime
        };

        await this.UserPreferenceService.SetUserPreferenceAsync(userPreference);
        await this.LunchHourService.SetUserLunchHours(userLunchTime);

        this.Navigator.NavigateTo("/");
    }
}